body {
    background-color: #023c40;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.menu {
    width: 700px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.name {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    /*background-color: aquamarine;*/
    text-align: center;
    margin-top: -3%;
}

.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlecard {
    padding-top: 60px;
    text-align: center;
    color: black;
    font-size: 100px;
}

a {
   color: black;
   text-decoration: none; 
}

a:hover {
    color: teal;
    text-decoration: underline;
}

a:active {
    color:black;
    text-decoration: underline;
}

a:visited {
    color:black;
    text-decoration: none;
}

.history {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.home {
    padding-top: 12px;
    padding-left: 12px;
    margin-bottom: -10%;
}

.list {
    padding-left: 25%;
}

.steps {
    padding-left: 15%;
    padding-right: 15%;
}

.footsie {
    text-align: center;
    padding-top: 10%;
    margin-bottom: -5px;
}

.subs {
    text-align: center;
}

hr {
    height: 2px;
    border-color: #023c40;
    background-color: #023c40;
}

.desc {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}